.panelWrapper{
    background-color: #E4ECF6;
    box-shadow: 0px 3px 6px #00000029;
    padding: 30px;
}
.btnError{
    border: 2px solid #fff;
    padding: 5px 20px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.error {
    right: 1px;
    top: 1px;
}
