$font-familyRoboto: 'Roboto', sans-serif;

.panelWrapper{
    background-color: #E4ECF6;
    box-shadow: 0px 3px 6px #00000029;
    padding: 30px;
    .menuWrapper{
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        align-items: center;
        .userIcon{
            font-size: 20px;
            margin-right: 10px;
            color: #5E3D97;
        }
        .nickName{
            font-family: $font-familyRoboto;
            .nickStyl{
                color: #2BC1DE;
                font-family: $font-familyRoboto;
            }
        }
        .emailIcon {
            color: #5E3D97;
            font-size: 20px;
            height: 20px;
        }
        .btnSettings{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .settingsIcon{
            font-size: 20px;
        }
    }

    .amountWrapper{
        margin-top: 20px;
        display: flex;
        gap:20px;
        margin-bottom: 20px;
        .balanceTitle{
            font-family: $font-familyRoboto;
            font-size: 20px;
        }
        .balance{
          margin-left: 20px;
          font-family: $font-familyRoboto;
        }
    }
    .btnHistory {
        margin-top: 10px;
        background-color: #5E3D97;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-family: $font-familyRoboto;
        border: 1px solid #000;
        cursor: pointer;
        font-size: 13px;
        color: #fff;
        box-shadow: 0px 3px 6px #000;
    }
    .btnSerwerList{
        background-color: #5E3D97;
        padding: 5px 10px;
        font-family: $font-familyRoboto;
        border: 1px solid #000;
        cursor: pointer;
        font-size: 13px;
        color: #fff;
        box-shadow: 0px 3px 6px #000;
        margin-top: 10px;
    }
}