.pageWrapper{
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.instructionDeviceWrapper{
    height: 80%;
    width: 80%;
    margin: auto;
}
.stepWrapper{
    margin-top: 20px;
    .instructionTitle{
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 400;
    }
    .imgWrapper{
        width: 50%;
        margin: 0 auto;
        background-color:azure;
        padding: 20px;
        .imgStep{
            width: 100%;
            background-size: cover;
        }
    }
}

.btnCloseWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .btnClose{
        background-color: #B22222;
        color: #fff;
        border: none;
        padding: 5px 20px;
        cursor: pointer;
    }
}