
.serwerWrapper{
    margin-top: 20px;
    padding: 60px;

    .serwer{
        display: flex;
        gap: 20px;
        border-bottom: 2px solid #000;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;

        .ipWrapper{
            display: flex;
            gap: 20px;
            align-items: center;
        }

        .serwerTitle{
            font-size: 17px;
            margin-bottom: 10px;
        }
        .serwerIP{
            font-size: 17px;
            margin-bottom: 10px;
        }
        .statusIcon {
            color: green;
            font-size: 10px;
            margin-bottom: 10px;
        }
        .statusIconError{
            color: #DC143C;
            font-size: 10px;
            margin-bottom: 10px;
        }
        .btnDevices{
            margin-bottom: 10px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}