$font-familyRoboto: 'Roboto', sans-serif;

.menuWrapper{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    .userIcon{
        font-size: 20px;
        margin-right: 10px;
        color: #5E3D97;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .userName{
        color: #5E3D97;
        font-family: $font-familyRoboto;
    }
    .emailIcon {
        color: #5E3D97;
        font-size: 20px;
        height: 20px;
    }
    .btnSettings{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .settingsIcon{
        font-size: 20px;
    }
}