$font-familyRoboto: 'Roboto', sans-serif;

.contarctPage{
    background-color: #fff;
    margin-top: 10px;
    .contractWrapper{
        margin-top: 15px;
        display: grid;
        padding: 20px 30px;
        transition: 0.3s;
        cursor: pointer;
        grid-template-columns: 0.5fr 5fr 2fr 2fr;
        gap: 20px;
        .title{
            font-family: $font-familyRoboto;
            font-size: 16px;
        }
    }
    .signed{
        color: #006400;
    }
    .noSigned{
        color: #8B0000;
    }
}

.contractWrapper:hover{
    background-color: #2BC1DE;
    color: #fff;
}