
.devicesWrapper{
    background-color: #fff;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    .mobileIcon{
        font-size: 35px;
    }
    .device{
        margin-bottom: 20px;
        align-items: center;
        padding: 10px 30px;
        transition: 0.7s;
        cursor: pointer;
        .mobileWrapper{
            display: grid;
            grid-template-columns: 1fr 4fr 4fr 0.5fr;
            align-items: center;

                .btnSettings{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            
        }
        .btnInfo {
            background-color: #87CEFA;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 15px;
            color: #fff;
            text-align: center;
            text-decoration: none;
        }

        .settingsWrapper{
            margin-top: 20px;
        }
    }
    .device:last-child {
        margin-bottom: 0;
    }
    .device:hover{
        background-color: #FDF5E6;
        box-shadow: 0px 1px 6px #000;
    }
}