$font-familyRoboto: 'Roboto', sans-serif;

.devicesWrapper{
    background-color: #fff;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    .mobileIcon{
        font-size: 35px;
    }
    .device{
        display: grid;
        grid-template-columns: 4fr 1fr;
        margin-bottom: 20px;
        align-items: center;
        padding: 10px 30px;
        transition: 0.7s;
        .mobileWrapper{
            display: grid;
            grid-template-columns: 1fr 9fr;
            align-items: center;
            .mobileIconMoreWrapper {
                display: grid;
                gap: 10px;
                align-items: center;
                grid-template-columns: 1fr 1fr;
                .btnSettings{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
        .modelTitle{
            font-family: $font-familyRoboto;
        }
        .seriaNumber{
            font-family: $font-familyRoboto;
        }
        .btnInfo {
            background-color: #87CEFA;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 15px;
            color: #fff;
            font-family: $font-familyRoboto;
            text-align: center;
            text-decoration: none;
        }

        .settingsWrapper{
            margin-top: 20px;
        }
    }
    .device:last-child {
        margin-bottom: 0;
    }
    .device:hover{
        background-color: #FDF5E6;
        box-shadow: 0px 3px 6px #000;
    }
}