$font-familyRoboto: 'Roboto', sans-serif;

.inputLog {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 17px;
}
  
.submitLog{
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  .submitLog:hover {
    background: #6cf0c2;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
      
  .error {
    color: red;
    font-size: 14px;
  }
    
  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

