.btnHistory {
    margin-top: 10px;
    background-color: #5E3D97;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    box-shadow: 0px 3px 6px #000;
}